<a href="https://colab.research.google.com/github/samucale/CURSO.PYTHON.PROF.GUSTAVO-GUANABARA/blob/main/TABUADA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TABUADA**

In [ ]:
num = int(input('digite um numero para ver sua tabuada :'))
print ('{} x {} = {}'.format(num ,1, num*1))
print ('{} x {} = {}'.format(num ,2, num*2))
print ('{} x {} = {}'.format(num ,3, num*3))
print ('{} x {} = {}'.format(num ,4, num*4))
print ('{} x {} = {}'.format(num ,5, num*5))
print ('{} x {} = {}'.format(num ,6, num*6))
print ('{} x {} = {}'.format(num ,7, num*7))
print ('{} x {} = {}'.format(num ,8, num*8))
print ('{} x {} = {}'.format(num ,9, num*9))
print ('{} x {} = {}'.format(num ,10, num*10))

digite um numero para ver sua tabuada :2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20